p {
        font-size : 30px;
        padding : 5;
        margin : 5;
        line-height : 20px;
    }

h1.a {
  font-family: "Audiowide", sans-serif;
}

.p {
  font-family: "Sofia", sans-serif;
}

h1.b {
  font-family: "Trirong", serif;
}
